[Desktop Entry]
Type=Application
Name=Rokae VPN
Comment=珞石 VPN 客户端
Terminal=false
Icon=/opt/anylink/anylink.png
Exec=/opt/anylink/bin/anylink
StartupNotify=false
